*{
	margin: 0px;
	padding: 0px;
}
.container{
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px auto;
}
body{
	 font-family: "Open Sans", sans-serif;
	 margin: 0px;
	 padding: 0px;
}

.header-section {
	margin-top: 35px;
  margin-bottom: 35px;
  background: #fffffff7;
}
.header-section .main-column{
	display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
.header-section .main-column .left-column img{
	width: 176px;
  height: 38px;
}
.header-section .main-column .right-column{
	text-align: end;
  font-size: 20px;
}
.header-section .main-column .right-column ul li{
	display: inline-block;
}
.header-section .main-column .right-column ul{
	list-style: none;
}
.header-section .main-column .right-column li:nth-child(4){
	padding: 0 95px;
}
.header-section .main-column .right-column li:nth-child(2){
	padding: 0 95px;
}

.header-section .main-column .right-column ul a{
	text-decoration: none;
	color: #1a0808;
	position: relative;
}
.header-section .main-column .right-column a::after{
	
   content: '';
   position: absolute;
  width: 0;
  height: 5px;
  background: #000;
  bottom: -35px;
  transform: translatex(-50%);
  left: 50%;
}
.header-section .main-column .right-column a:hover:after{
	width: calc(100% + 30px);
	transition: .5s;
}
.banner-section img{
  width: 100%;
 
}
.banner-section{
	margin-bottom: 35px
}
.services-section{
text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;

}
.services-section .main-column .flex-column img{
	width: 100%;
}
.services-section h2{
	padding-bottom: 25px;
  font-size: 35px;
  color: #000000fa;
}
.services-section .main-column{
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}
.services-section .main-column .flex-column{
	position: relative;
}
.services-section .main-column .flex-column .price{
  top: 31%;
  left: 70%;
  position: absolute;
}  
.services-section .main-column .flex-column h2{
	text-align: left;
  font-size: 25px;
  color: #000000f7;
  line-height: 35px;
}
.services-section .main-column .flex-column p{
  text-align: left;
  padding-top: 25px;
  font-size: 15px;
  color: #000000de;
  margin-right: 15px;
  line-height: 24px;
}
.services-section .main-column .flex-column .price p{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid red;
  line-height: 50px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: red;
  color: #fff;
}
.services-section .main-column .flex-column .value{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.education-section{
	
	text-align: center;
}
.education-section h2{
	padding-top: 35px;
  padding-bottom: 35px;

}
.education-section .main-column{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 35px;
  margin-right: 25px;
}
.education-section .main-column img{
	width: 100%;
}